@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="site-section">
        <div class="container">

          

            <div class="row">
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    
                <a href="@Url.Action("MostrarProductoIndividual","Productos")"> <img src="~/images/product_01.png" alt="Image"></a>
                <h3 class="text-dark"><a href="shop-single.html">Bioderma</a></h3>
                    <p class="price"> $55.00</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="shop-single.html"> <img src="~/images/product_02.png" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop-single.html">Chanca Piedra</a></h3>
                    <p class="price">$70.00</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="shop-single.html"> <img src="~/images/product_03.png" alt="Image"></a>
                <h3 class="text-dark"><a href="shop-single.html">Umcka Cold Care</a></h3>
                    <p class="price">$120.00</p>
                </div>

                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                <a href="shop-single.html"> <img src="~/images/product_04.png" alt="Image"></a>
                <h3 class="text-dark"><a href="shop-single.html">Cetyl Pure</a></h3>
                    <p class="price"><del>45.00</del> &mdash; $20.00</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="shop-single.html"> <img src="~/images/product_05.png" alt="Image"></a>
                <h3 class="text-dark"><a href="shop-single.html">CLA Core</a></h3>
                    <p class="price">$38.00</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
         
                    <a href="shop-single.html"> <img src="~/images/product_06.png" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop-single.html">Poo Pourri</a></h3>
                    <p class="price">$38.00</p>
                </div>

                
                
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <div class="site-block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

