
@{
    ViewData["Title"] = "Agradecimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-3 text-black">!Gracias por su compra!</h2>
                <p class="lead mb-5">Tu Orden fue exitosa.</p>
                <p><a href="@Url.Action("MostrarProductos","Productos")" class="btn btn-md height-auto px-4 py-3 btn-primary">Regresar a los productos</a></p>
            </div>
        </div>
    </div>
</div>
