@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="~/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">


                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Acerca de Pharma</h2>
                </div>
                <p>
                    Pharma se fundo en el 2022 como parte del proyecto de Programacion Avanzada Web,
                    donde cuatro companeros de clase juntaron sus conocimientos para desarrollar una appliacion
                    que cimpliera con los requerimientos solicitados en la curricula del curso.

                </p>

                <div class="site-section-heading pt-3 mb-4">
                    <h5 class="text-black">¿Que podemos encontar en este proyecto?</h5>
                </div>

                <p>
                    En esta aplicacion el usuario podra registrarse para hacer compra
                    de medicamentos o consultar los precios y disponibilidad de los productos.

                </p>

            </div>
        </div>
    </div>
</div>

