
<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="~/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Acerca de Pharma</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam, nemo
                    exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus quos sequi hic fugiat
                    asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.
                </p>
                <p>
                    Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem in, quibusdam
                    cumque recusandae, laudantium minima repellendus.
                </p>

            </div>
        </div>
    </div>
</div>

